 .nav-admin {
  width: 100%;
  margin-top: 1em; }
  .nav-admin ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .nav-admin ul li {
      display: inline-block;
      margin-right: 15px; }
      .nav-admin ul li:last-child {
        margin-right: 0; }
      .nav-admin ul li a {
        text-decoration: none;
        font-size: 0.9em; }
      .nav-admin ul li .consultar {
        background: url(../img/magnificense.png) no-repeat 0/16%;
        padding-left: 1.2em; }
      .nav-admin ul li .agregar {
        background: url(../img/add.png) no-repeat 0/16%;
        padding-left: 1.2em; }
      .nav-admin ul li .modificar {
        background: url(../img/edit.png) no-repeat 0 3px/16%;
        padding-left: 1.2em; }
      .nav-admin ul li .eliminar {
        background: url(../img/delete.png) no-repeat 0/16%;
        padding-left: 1.2em; }

p {
  font-size: 0.9em;
  margin-top: 1em; }

.filtroAbc {
  width: 100%;
  height: auto; }
  .filtroAbc ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .filtroAbc ul li {
      display: inline-block; }
      .filtroAbc ul li a {
        padding: 2px 10px;
        text-decoration: none; }
        .filtroAbc ul li a:hover {
          background: #cf0508;
          color: #fff; }
      .filtroAbc ul li .hofil {
        background: #cf0508;
        color: #fff; }

p.proBig {
  font-size: 1.3em; }

form.add {
  width: 35%;
  height: auto; }
  form.add label {
    width: 100%;
    font-size: 0.9em;
    margin: 10px 0;
    display: block; }
  form.add input[type="text"] {
    width: 100%;
    border: 1px solid #cf0508;
    padding: 5px;
    font-size: 0.8em; }  
    
form#formulario__mail {
  width: 50%;
  float: left;
  margin-top: 1.8em;
  padding: 10px;
  background: rgba(232, 232, 232, 0.5); }
  form#formulario__mail .marFo {
    margin-right: 13px; }
  form#formulario__mail .wrap__total {
    margin-top: 1em;
    overflow: hidden; }
    form#formulario__mail .wrap__total .wrap__input {
      width: 50%;
      float: left; }
    form#formulario__mail .wrap__total .asunTForm {
      width: 88%; }